<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIFeatureFunctionCalling</key>
	<true/>
	<key>AIFeatureHostedCodeInterpeter</key>
	<true/>
	<key>AIFeatureHostedFileSearch</key>
	<true/>
	<key>AIFeatureHostedWebSearch</key>
	<true/>
	<key>AIFeatureStreamingResponses</key>
	<true/>
	<key>AITermAPI</key>
	<integer>2</integer>
	<key>AIVectorStore</key>
	<integer>0</integer>
	<key>AiMaxTokens</key>
	<integer>400000</integer>
	<key>AiModel</key>
	<string>gpt-5.2</string>
	<key>AiResponseMaxTokens</key>
	<integer>128000</integer>
	<key>AitermURL</key>
	<string>https://api.openai.com/v1/responses</string>
	<key>AllowClipboardAccess</key>
	<true/>
	<key>Command</key>
	<string>/usr/local/bin/tmux-CCnew-A-smain</string>
	<key>Default Bookmark Guid</key>
	<string>07B87917-993B-4F83-B18D-D05F1472B0BD</string>
	<key>DimBackgroundWindows</key>
	<false/>
	<key>DimOnlyText</key>
	<true/>
	<key>DisableFullscreenTransparency</key>
	<false/>
	<key>GitSearchPath</key>
	<string>/usr/local/bin/git</string>
	<key>GitTimeout</key>
	<real>10</real>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HideScrollbar</key>
	<true/>
	<key>Hotkey</key>
	<true/>
	<key>HotkeyChar</key>
	<integer>32</integer>
	<key>HotkeyCode</key>
	<integer>49</integer>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>HotkeyModifiers</key>
	<integer>524288</integer>
	<key>IRMemory</key>
	<integer>4</integer>
	<key>MaxVertically</key>
	<false/>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>ASCII Ligatures</key>
			<false/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blinking Cursor</key>
			<true/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string>/usr/local/bin/tmux -CC new -A -s main</string>
			<key>Cursor Boost</key>
			<real>0.0</real>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.87058823529411766</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.84705882352941175</real>
				<key>Red Component</key>
				<real>0.32156862745098042</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.94117647058823528</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.94117647058823528</real>
				<key>Red Component</key>
				<real>0.90196078431372551</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.7803921568627451</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.77254901960784317</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Guid</key>
			<string>07B87917-993B-4F83-B18D-D05F1472B0BD</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict/>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73423302173614502</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35916060209274292</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>FiraMonoNF-Regular 14</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Non-ASCII Ligatures</key>
			<false/>
			<key>Normal Font</key>
			<string>DejaVuSansMonoPowerline 14</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.8353000283241272</real>
				<key>Red Component</key>
				<real>0.70980000495910645</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Show Status Bar</key>
			<true/>
			<key>Silence Bell</key>
			<true/>
			<key>Smart Cursor Color</key>
			<true/>
			<key>Status Bar Layout</key>
			<dict>
				<key>advanced configuration</key>
				<dict>
					<key>algorithm</key>
					<integer>0</integer>
					<key>auto-rainbow style</key>
					<integer>2</integer>
					<key>font</key>
					<string>.SFNS-Regular 12</string>
					<key>remove empty components</key>
					<false/>
				</dict>
				<key>components</key>
				<array>
					<dict>
						<key>class</key>
						<string>iTermStatusBarJobComponent</string>
						<key>configuration</key>
						<dict>
							<key>knobs</key>
							<dict>
								<key>base: compression resistance</key>
								<integer>1</integer>
								<key>base: priority</key>
								<real>1</real>
								<key>maxwidth</key>
								<real>50</real>
								<key>minwidth</key>
								<integer>0</integer>
								<key>shared text color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1</real>
									<key>Blue Component</key>
									<real>0.25685083866119385</real>
									<key>Color Space</key>
									<string>P3</string>
									<key>Green Component</key>
									<real>0.26314079761505127</real>
									<key>Red Component</key>
									<real>0.46736389398574829</real>
								</dict>
							</dict>
							<key>layout advanced configuration dictionary value</key>
							<dict>
								<key>algorithm</key>
								<integer>0</integer>
								<key>auto-rainbow style</key>
								<integer>2</integer>
								<key>font</key>
								<string>.AppleSystemUIFont 12</string>
								<key>remove empty components</key>
								<false/>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>class</key>
						<string>iTermStatusBarSearchFieldComponent</string>
						<key>configuration</key>
						<dict>
							<key>knobs</key>
							<dict>
								<key>base: compression resistance</key>
								<integer>1</integer>
								<key>base: priority</key>
								<real>5</real>
								<key>shared text color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1</real>
									<key>Blue Component</key>
									<real>0.28102162480354309</real>
									<key>Color Space</key>
									<string>P3</string>
									<key>Green Component</key>
									<real>0.49730372428894043</real>
									<key>Red Component</key>
									<real>0.42674708366394043</real>
								</dict>
							</dict>
							<key>layout advanced configuration dictionary value</key>
							<dict>
								<key>algorithm</key>
								<integer>0</integer>
								<key>auto-rainbow style</key>
								<integer>2</integer>
								<key>font</key>
								<string>.AppleSystemUIFont 12</string>
								<key>remove empty components</key>
								<false/>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>class</key>
						<string>iTermStatusBarCPUUtilizationComponent</string>
						<key>configuration</key>
						<dict>
							<key>knobs</key>
							<dict>
								<key>base: priority</key>
								<real>5</real>
								<key>shared text color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1</real>
									<key>Blue Component</key>
									<real>0.43551152944564819</real>
									<key>Color Space</key>
									<string>P3</string>
									<key>Green Component</key>
									<real>0.49410122632980347</real>
									<key>Red Component</key>
									<real>0.31301426887512207</real>
								</dict>
							</dict>
							<key>layout advanced configuration dictionary value</key>
							<dict>
								<key>algorithm</key>
								<integer>0</integer>
								<key>auto-rainbow style</key>
								<integer>2</integer>
								<key>font</key>
								<string>.AppleSystemUIFont 12</string>
								<key>remove empty components</key>
								<false/>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>class</key>
						<string>iTermStatusBarMemoryUtilizationComponent</string>
						<key>configuration</key>
						<dict>
							<key>knobs</key>
							<dict>
								<key>base: compression resistance</key>
								<integer>1</integer>
								<key>base: priority</key>
								<real>5</real>
								<key>shared text color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1</real>
									<key>Blue Component</key>
									<real>0.48409903049468994</real>
									<key>Color Space</key>
									<string>P3</string>
									<key>Green Component</key>
									<real>0.2508234977722168</real>
									<key>Red Component</key>
									<real>0.26971542835235596</real>
								</dict>
							</dict>
							<key>layout advanced configuration dictionary value</key>
							<dict>
								<key>algorithm</key>
								<integer>0</integer>
								<key>auto-rainbow style</key>
								<integer>2</integer>
								<key>font</key>
								<string>.AppleSystemUIFont 12</string>
								<key>remove empty components</key>
								<false/>
							</dict>
						</dict>
					</dict>
					<dict>
						<key>class</key>
						<string>iTermStatusBarBatteryComponent</string>
						<key>configuration</key>
						<dict>
							<key>knobs</key>
							<dict>
								<key>base: compression resistance</key>
								<integer>1</integer>
								<key>base: priority</key>
								<real>5</real>
								<key>shared text color</key>
								<dict>
									<key>Alpha Component</key>
									<real>1</real>
									<key>Blue Component</key>
									<real>0.379524827003479</real>
									<key>Color Space</key>
									<string>P3</string>
									<key>Green Component</key>
									<real>0.26313775777816772</real>
									<key>Red Component</key>
									<real>0.4673653244972229</real>
								</dict>
							</dict>
							<key>layout advanced configuration dictionary value</key>
							<dict>
								<key>algorithm</key>
								<integer>0</integer>
								<key>auto-rainbow style</key>
								<integer>2</integer>
								<key>font</key>
								<string>.AppleSystemUIFont 12</string>
								<key>remove empty components</key>
								<false/>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Cursor Guide</key>
			<false/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<true/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<false/>
			<key>Window Type</key>
			<integer>0</integer>
			<key>Working Directory</key>
			<string>/Users/bhingston</string>
		</dict>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.73333334922790527</real>
				<key>Green Component</key>
				<real>0.73333334922790527</real>
				<key>Red Component</key>
				<real>0.73333334922790527</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>0.3333333432674408</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.3333333432674408</real>
				<key>Green Component</key>
				<real>0.3333333432674408</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.1491314172744751</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Blend</key>
			<real>0.5</real>
			<key>Blinking Cursor</key>
			<true/>
			<key>Blur</key>
			<true/>
			<key>Blur Radius</key>
			<real>8.3775836770304561</real>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string></string>
			<key>Cursor Boost</key>
			<real>0.0</real>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.87058823529411766</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.84705882352941175</real>
				<key>Red Component</key>
				<real>0.32156862745098042</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.9268307089805603</real>
				<key>Red Component</key>
				<real>0.70213186740875244</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.94117647058823528</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.94117647058823528</real>
				<key>Red Component</key>
				<real>0.90196078431372551</real>
			</dict>
			<key>Custom Command</key>
			<string>No</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.870025634765625</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.84642258003533755</real>
				<key>Red Component</key>
				<real>0.32266194233670831</real>
			</dict>
			<key>Guid</key>
			<string>2DD58AC7-EFDE-488A-AC1B-D07BC40E432F</string>
			<key>Has Hotkey</key>
			<true/>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>HotKey Activated By Modifier</key>
			<false/>
			<key>HotKey Alternate Shortcuts</key>
			<array/>
			<key>HotKey Characters</key>
			<string> </string>
			<key>HotKey Characters Ignoring Modifiers</key>
			<string> </string>
			<key>HotKey Key Code</key>
			<integer>49</integer>
			<key>HotKey Modifier Activation</key>
			<integer>0</integer>
			<key>HotKey Modifier Flags</key>
			<integer>262144</integer>
			<key>HotKey Window Animates</key>
			<true/>
			<key>HotKey Window AutoHides</key>
			<true/>
			<key>HotKey Window Dock Click Action</key>
			<integer>0</integer>
			<key>HotKey Window Floats</key>
			<false/>
			<key>HotKey Window Reopens On Activation</key>
			<false/>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict/>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.73423302173614502</real>
				<key>Color Space</key>
				<string>sRGB</string>
				<key>Green Component</key>
				<real>0.35916060209274292</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Mouse Reporting</key>
			<true/>
			<key>Name</key>
			<string>quickie</string>
			<key>Non Ascii Font</key>
			<string>FiraMonoNF-Regular 14</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>DejaVuSansMonoPowerline 12</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-2</integer>
			<key>Scrollback Lines</key>
			<integer>2000</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Blue Component</key>
				<real>1</real>
				<key>Green Component</key>
				<real>0.8353000283241272</real>
				<key>Red Component</key>
				<real>0.70980000495910645</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<true/>
			<key>Smart Cursor Color</key>
			<true/>
			<key>Space</key>
			<integer>-1</integer>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Transparency</key>
			<real>0.1389950824873096</real>
			<key>Unlimited Scrollback</key>
			<false/>
			<key>Use Bold Font</key>
			<true/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Cursor Guide</key>
			<false/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<true/>
			<key>Vertical Spacing</key>
			<real>1</real>
			<key>Visual Bell</key>
			<false/>
			<key>Window Type</key>
			<integer>2</integer>
			<key>Working Directory</key>
			<string>/Users/bhingston</string>
		</dict>
	</array>
	<key>NumberOfLinesForAccessibility</key>
	<integer>100000</integer>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>PromptOnQuit</key>
	<true/>
	<key>ShowFullScreenTabBar</key>
	<false/>
	<key>SoundForEsc</key>
	<false/>
	<key>SplitPaneDimmingAmount</key>
	<real>0.43627053285256423</real>
	<key>StatusBarPosition</key>
	<integer>0</integer>
	<key>TabStyle</key>
	<integer>1</integer>
	<key>TabStyleWithAutomaticOption</key>
	<integer>5</integer>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>WordCharacters</key>
	<string>/-+\~_.</string>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>7</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<true/>
	<key>kTurnOffSlowTriggersOfferUserDefaultsKey</key>
	<false/>
</dict>
</plist>
